.App {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Menu{
  width: 60%;
}

.MenuItem {
  display: flex;
  flex-wrap: wrap;
}

.Items {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.Orders{
  width: 35%;
}

.orderItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  margin-bottom: 10px;
}

.price {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #000000;
}
